language: java
sudo: false
services:
  - postgresql
addons:
  postgresql: "9.4"
jdk: oraclejdk8
before_script:
  - psql -U postgres -c "create user dbuser with superuser;"
  - psql -U postgres -c "alter user panorama with password 'dbuser';"
  - psql -U postgres -c "create database flyway owner dbuser;"
script:
 - cd $TRAVIS_BUILD_DIR/myrepo && mvn clean test
 - cd $TRAVIS_BUILD_DIR/usedjar && mvn clean install
 - cd $TRAVIS_BUILD_DIR/depprj && mvn clean test
 - cd $TRAVIS_BUILD_DIR/flyway && mvn clean test
 
